header{
    height: 80px;
    top: 0;
    background-color: white;
}

#wrapper{
    width: 100%;
    height: calc(100vh - 160px);
}

.CPM-title{
    color: #29b1dd;
}

body{
    background-color: #dddddd;
}

.CPM-blue{
    color: #0000ff;
}

.CPM-green{
    color: #45e532;
}

.CPM-orange{
    color: #ffa500;
}

.CPM-filter{
    width: 100%;
    height: 80px;
    color: white;
    background-color: #29b1dd;
}